* {
    font-family: 'Arial';
}

.game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.play-area {
    margin: 2px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.player {
    margin: 2px;
}

.opponent {
    margin: 2px;
}


.board {
    margin: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.word {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 2px;
}

.answer {
    margin:  12px;
}

/* Timer Styles */

.timer-div {
    margin: 3px;
    height: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
}

.time-container{
    margin: 5px;
    gap: 6px; 
    margin-right: 15px;
    display: flex;
    margin-left: auto;
}

.timer { 
    margin-top: 3px;
    margin-bottom: 3px;
    border-bottom: rgb(180, 180, 180) solid;
    display: flex;
    flex-direction: row;
}

.timer-container {
    width: 100%;
    height: fit-content;
}

.title-div {
    margin: 5px;
    margin-top: 8px;
    margin-left: 15px;
    font-size: 2rem;
    font-weight: 700;
}


/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup */
.popup {
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 16px;
    padding: 8px 0;
    position: absolute;
    top: 200px;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    padding: 14px;
    margin-left: auto;
    text-transform:none;
    margin-right: auto;
    font-size: 1rem;
    font-weight: 700;
}

.popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}


.explanation {
    margin:  2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
}

body {
    overflow: hidden; /* Disable scroll */
    display: flex;
    min-height: 100%;
}
html {
    height: 100%;
  }
#game-board {
    margin: auto;
}

.password {
    margin-top: 12px;
}

.password-container {
    margin: 5px;
}

.end-game {
    margin: 2px;
    font-size: 3rem;
    font-weight: 700;
}
.letter-row {
    display: flex;
}

.letter {
    height: 3rem;
    width: 3rem;
    margin: 2px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-size: 2.3rem;
    font-weight: bold;
    text-transform: uppercase;
}
  
.filled-box {
    border: 2px solid black;
}

/* Tutorial */
.tutorial-text-paragraph {
    width: 500px;
    height: fit-content;
    margin-left: 20px;
    margin-right: 20px;
}
.tutorial-text-container {
    margin-top: 10px;
}
.tutorial-text-seperator{
    width: 90%;
    height: 10px;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.500);
}
.tutorial-container{
    display: flex;
    flex-direction: column;
}
.tutorial-number{
    text-align: right;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px;
}
.tutorial-page-container{
    display: flex;
    flex-direction: row;
}
.prev-button:disabled {
    color: #2e7d3282;
}
.prev-button{
    border: none;
    align-self: center;
    background: 0 0;
    width: fit-content;
    color: #2e7d32;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0 10px;
    font-weight: 700;
}

.next-button:disabled {
    color: #2e7d3282;
}
.next-button{
    border: none;
    align-self: center;
    background: 0 0;
    width: fit-content;
    color: #2e7d32;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0 10px;
    font-weight: 700;
}

.tutorial-info-container{
    width: 400px;
    display: flex;
    flex-direction: column;
}
.tutorial-text{
    display: flex;
    font-size: 1.5rem;
    height: 3rem;
    font-weight: 700;
    margin: 10px;
}
.tutorial-image{
    display: flex;
    width: 100%;
}
.tutorial-exit-container{
    display: flex;
    flex-direction: row-reverse;
}

.exit-button{
    border: none;
    background: 0 0;
    width: fit-content;
    color: #2e7d32;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    margin: 18px 15px;
    font-weight: 500;
}

/* Modal */

#lobby .background {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Disable scroll */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


 .modal {
    position: fixed;
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 20px 20px rgb(0 0 0 / 20%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    min-width: 300px; 
    min-height: 200px; 
    height: fit-content; 
    width: fit-content; 
    background-color: rgb(255, 255, 255); /* Fallback color */
}


/* Rematch Styles */
.rematch-container {
    display: flex;
    flex-direction: column;
}
.match-outcome {
    margin:  10px;
    text-align: left;
    font-size: 2rem;
    padding: 6px;
    font-weight: 700;
}
.rematch-text {    
    margin: 18px 0;
    height: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}
.request-rematch {
    width:  40%;
    height: 70px;
    margin:  10px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: lightgreen;
}

.to-menu {
    width:  40%;
    height: 70px;
    margin:  10px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: crimson;
}
.match-answers {
    display: flex;
    flex-direction: column
}
.rematch-answer {
    display: flex;
}
.rematch-password-text {
    display: flex;
    text-align: center;
    justify-content: right;
    align-items: center;
    font-size: 1.5em;
    width: 15%;
    padding: 10px;
}
.rematch-password-container {
    display: flex;
    margin: 0 70px;
}

/* Menu  */

.menu-container {
    display: flex;
    height:  100%;
    width:  100%;
    gap: 35px;
    flex-direction: column;
}

.menu-state {
    margin: 20px 15px;
    display: flex;
    justify-content: left;
    align-self: flex-start;
    font-size: 1.5rem;
    width: fit-content;
    height: 36px;
    font-weight: 700;
}

.menu-button-container {
    display: flex;
    flex-grow: 1;
    align-self: flex-end;
    gap: 0;
    width:  90%;
    align-items: right;
    justify-content: right;
    flex-direction: column;
}

.menu-button {
    border: none;
    display: flex;
    align-self: flex-end;
    background: 0 0;
    width: fit-content;
    color:#2e7d32;
    cursor: pointer;
    text-transform: uppercase;
    height: 36px;
    font-size: 16px;
    line-height: 16px;
    margin: 4px 10px;
    transition: background-color 280ms cubic-bezier(.4,0,.2,1);
    font-weight: 500;
}


/* Keyboard */

.keyboard {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.keyboard-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 3px 0rem;
}

.keyboard-key {
    border: 0px solid gray;
    background-color: lightgray;
    padding: 0.5rem;
    height: 4rem;
    width: 3rem;
    display: flex;
    min-width: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 3px 3px;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
}

.keyboard-command-key {
    width: 5.5rem;
}

/* Explanation */

.long-explanation {
    display: none;
  }
      
.explain-hover:hover + .long-explanation {
    display: block;
    color: red;
}

.loading {
    width: 100%;
    height: 100%;
    line-height: 150px;
    margin: 12px 12px;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}